body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --bold-16: "Source Sans Pro";
  --font-rubik: Rubik;

  /* font sizes */
  --semibold-14-size: 14px;
  --bold-26-size: 26px;
  --bold-16-size: 16px;
  --semibold-9-size: 9px;
  --semibold-10-size: 10px;
  --semibold-18-size: 18px;
  --semibold-12-size: 12px;

  /* Colors */
  --dark-2: #1e252b;
  --secondary-color-background: #fff;
  --dark-4: #2c353d;
  --dark-3: #262d34;
  --secondary-color-background-2: #f7f7f7;
  --secondary-color-secondary-6: #f4f6f8;
  --secondary-color-secondary-4: #858ead;
  --red-red-90: #ff571a;
  --red-red: #ff4401;
  --secondary-color-secondary-3: #97989d;
  --blue-blue-80: #5d95e8;
  --secondary-color-secondary-5: #c5d0e6;
  --purple-purple-10: #f0f1fe;
  --purple-purple-20: #e0e2fd;
  --red-red-80: #ff6934;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-11xs: 2px;
  --gap-7xs: 6px;
  --gap-10xs: 3px;
  --gap-11xl: 30px;
  --gap-21xl: 40px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-5xs: 8px;
  --padding-xs: 12px;
  --padding-6xl: 25px;
  --padding-7xs: 6px;
  --padding-8xs: 5px;

  /* Border radiuses */
  --br-6xs: 7px;
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-base: 16px;
  --br-xl: 20px;
  --br-mini: 15px;
  --br-9xs: 4px;
}
