* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: #1e252b;
  color: #ffffff;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 250px;
  background-color: #263243;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu {
  margin-bottom: 20px;
}

.menu-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #263243;
  cursor: pointer;
}

.menu-item.active {
  background-color: #4a4a4c;
}

.upcoming-event {
  margin-top: auto;
  background-color: #263243;
  padding: 10px;
  border-radius: 5px;
}

.event-time {
  font-size: 14px;
}

.event-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.event-details button {
  background-color: #0a84ff;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.date-selector {
  display: flex;
  align-items: center;
}

.date-selector button,
.date-selector select,
.date-selector input {
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.add-event {
  background-color: #0a84ff;
  color: white;
  cursor: pointer;
}

.overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.overview-item {
  background-color: #263243;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  margin-right: 10px;
}

.overview-item:last-child {
  margin-right: 0;
}

.number {
  font-size: 24px;
  font-weight: bold;
}

.label {
  margin-top: 10px;
}

.upcoming-interviews,
.meetings-proposals {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.weekly-meetings {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
}

.interview-card,
.proposal-card {
  background-color: #263243;
  padding: 15px;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 10px;
  flex: 1;
}

.meeting-card {
  background-color: #263243;
  border-radius: 5px;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  flex: 1;
  margin-top: 20px;

  margin-right: 10px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.status.green {
  background-color: #00ff00;
}

.status.red {
  background-color: #ff0000;
}

.details {
  display: flex;
  flex-direction: column;
}

.details span {
  margin-bottom: 5px;
}

.details button {
  background-color: #0a84ff;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}
