<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>

    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/menu.css" />
  </head>
  <body>
    <header class="header" id="menubar">
      <header class="main14" id="menuitems">
        <a href="./index.html">
          <div class="logo">
            <div class="logo1">
              <!-- <img class="" alt="" src="../img/icon5@2x.png" /> -->
              <i class="fa-brands fa-dochub icon11"></i>
            </div>
            <h2 class="hipnode">DevUnity</h2>
          </div></a
        >
        <div class="main15">
          <div class="icons">
            <a href="./index.html">
              <div class="home">
                <i class="fa-solid fa-house home-2-icon text-white"></i>
              </div>
            </a>
            <div class="calendar">
              <!-- <img class="" alt="" src="../img/home-21.svg" /> -->
              <a href="./Calender.html" class="text-white">
                <i class="fa-solid fa-calendar-days home-2-icon"></i>
              </a>
            </div>
            <div class="calendar">
              <img
                class="popular-icon-child"
                alt=""
                src="./img/home-2@2x.png"
              />
              <!-- <i class="fa-solid fa-users-between-lines ></i> -->
              <!-- <i class="fa-solid fa-users-rectangle popular-icon-child"></i> -->
            </div>
            <div class="calendar">
              <!-- <img class="" alt="" src="../img/home-23.svg" /> -->
              <a href="./groups.html" class="text-white">
                <i class="fa-solid fa-podcast home-2-icon"></i>
              </a>
            </div>
            <div class="interviews">
              <img class="home-2-icon4" alt="" src="./img/home-24.svg" />
            </div>
          </div>
          <div class="search">
            <input
              class="search1"
              id="searbar"
              type="text"
              placeholder="Search anything"
            />

            <div class="right-info">
              <div class="message">
                <a href="./messenger.html">
                  <img class="home-2-icon" alt="" src="./img/message.svg"
                /></a>
              </div>
              <div class="message">
                <a href="./notification.html">
                  <img class="home-2-icon" alt="" src="./img/notification.svg"
                /></a>
              </div>
              <div class="logo">
                <div class="name24">
                  <a href="./profile.html">
                    <img
                      class="abatars-icon"
                      alt=""
                      src="./img/profile-image@2x.png"
                    />
                  </a>
                  <!-- <b class="ar-jakir">Md Wahid</b> -->
                  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                      <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDarkDropdown"
                        aria-controls="navbarNavDarkDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                      >
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div
                        class="collapse navbar-collapse"
                        id="navbarNavDarkDropdown"
                      >
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown">
                            <button
                              class="btn btn-dark dropdown-toggle"
                              data-bs-toggle="dropdown"
                              aria-expanded="false"
                            >
                              MD WAHID
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                              <li>
                                <a class="dropdown-item" href="./index.html"
                                  >Home</a
                                >
                              </li>
                              <li>
                                <a class="dropdown-item" href="./login.html"
                                  >Login</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="./Registetration.html"
                                  >Registrtion</a
                                >
                              </li>
                              <li>
                                <a class="dropdown-item" href="./profile.html"
                                  >Profile</a
                                >
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                </div>
                <!-- <img class="follow-icon" alt="" src="./img/vector-8.svg" /> -->
              </div>
            </div>
          </div>
        </div>
      </header>
    </header>
  </body>
</html>
