<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>

    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/menu.css" />
  </head>
  <body>
    <header class="header" id="menubar">
      <header class="main14" id="menuitems">
        <div class="logo">
          <div class="logo1">
            <!-- <img class="" alt="" src="../img/icon5@2x.png" /> -->
            <i class="fa-brands fa-dochub icon11"></i>
          </div>
          <h2 class="hipnode">DevUnity</h2>
        </div>
        <div class="main15">
          <div class="icons">
            <div class="home">
              <i class="fa-solid fa-house home-2-icon"></i>
            </div>
            <div class="calendar">
              <!-- <img class="" alt="" src="../img/home-21.svg" /> -->
              <i class="fa-solid fa-calendar-days home-2-icon"></i>
            </div>
            <div class="calendar">
              <img
                class="popular-icon-child"
                alt=""
                src="./img/home-2@2x.png"
              />
              <!-- <i class="fa-solid fa-users-between-lines ></i> -->
              <!-- <i class="fa-solid fa-users-rectangle popular-icon-child"></i> -->
            </div>
            <div class="calendar">
              <!-- <img class="" alt="" src="../img/home-23.svg" /> -->

              <i class="fa-solid fa-podcast home-2-icon"></i>
            </div>
            <div class="interviews">
              <img class="home-2-icon4" alt="" src="./img/home-24.svg" />
            </div>
          </div>
          <div class="search">
            <input
              class="search1"
              id="searbar"
              type="text"
              placeholder="Search anything"
            />

            <div class="right-info">
              <div class="message">
                <img class="home-2-icon" alt="" src="./img/message.svg" />
              </div>
              <div class="message">
                <img class="home-2-icon" alt="" src="./img/notification.svg" />
              </div>
              <div class="logo">
                <div class="name24">
                  <img
                    class="abatars-icon"
                    alt=""
                    src="./img/profile-image@2x.png"
                  />

                  <b class="ar-jakir">Md Wahid</b>
                </div>
                <img class="follow-icon" alt="" src="./img/vector-8.svg" />
              </div>
            </div>
          </div>
        </div>
      </header>
    </header>
  </body>
</html>
